body {
  background-color: #282c34;
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
  margin: 0 auto;
}

.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button {
  font-size: 48px;
}

.title {
  margin: 0;
}

.card {
  border-radius: 10px;
  padding: 7px;
  display: flex;
  justify-content: center;
}

img {
  border-radius: 5px;
  width: 200px;
}

.galery {
  margin: 1rem auto;
  width: 100%;
  max-width: 960px;
  padding: 0 20px 20px;
  box-sizing: border-box;
  column-count: 3;
  min-height: 100vh;

  /* Espacio entre columnas */
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;

  /* Filete entre columnas */
  /*-moz-column-rule: 1px solid #bbb;
      -webkit-column-rule: 1px solid #bbb;
      column-rule: 1px solid #bbb;*/
}

article {
  border-radius: 5px;
  margin: 0 0 20px 0;
  text-align: center;
  max-width: 100%;
  filter: opacity(70%);

  /*Evitamos que se corte al cambiar de columna*/
  break-inside: avoid;
  page-break-inside: avoid;
}

article img {
  width: 100%;
}

article:hover {
  transition: 0.5s ease;
  filter: opacity(100%);
}

figure {
  padding: 1rem;
  box-sizing: border-box;
}

/* Móviles en horizontal o tablets en vertical */
@media (max-width: 767px) {
  .galery {
    columns: 2;
  }
}

/* Móviles en vertical */

@media (max-width: 480px) {
  .galery {
    columns: 1;
  }
}

.comma-list {
  padding: 0;
}
.comma-list > * {
  display: inline;
}
.comma-list > *:after {
  content: ",";
}
.comma-list > *:last-child:after {
  content: "";
}

@media (min-width: 768px) {
  .comma-list {
    list-style: square;
    padding-left: 30px;
  }
  .comma-list > * {
    display: list-item;
    width: 33%;
    float: left;
  }
  .comma-list > *:after {
    content: "";
  }
}